@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.navbar .logo {
    color: crimson;
    font-size: 35px;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    padding: 15px 15px;
    color: crimson;
    font-size: 20px;
    font-weight: 500;
}

.menu a:hover {
    color: rgb(0, 38, 255);
};